<template>
  <div class="container">
    <div class="d-flex justify-content-center">
      <form @submit.prevent="clickHandler" class="input-group mb-3" ref="form">
        <input type="text" class="form-control" placeholder="Search for a Meal..." aria-describedby="button-addon2"
          v-model="searchText">
        <SearchBoxButton @click.native="clickToTrue = !clickToTrue" />
      </form>
    </div>
    <div class="d-flex justify-content-center">
      <h3 class="text-danger">{{ message }}</h3>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import SearchBoxButton from '@/components/SearchBox/SearchBoxButton.vue';

export default {
  components: {
    SearchBoxButton,
  },
  data() {
    return {
      searchText: null,
      clickToTrue: false,
      message: null,
    };
  },
  methods: {
    clickHandler() {
      axios.get(`https://www.themealdb.com/api/json/v1/1/search.php?s=${this.searchText}`)
        .then((response) => {
          this.$emit('searchMeal', response.data.meals);
          this.message = response.data.meals === null ? 'There were no result.' : this.message = null;
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
