<template>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <h1 class="text-center">Food Searching App</h1>
            </div>
        </div>
    </div>
</template>
