<template>
  <div class="d-flex justify-content-center">
    <img class="image rounded" :src="strMealThumb" alt="image-food">
  </div>
</template>

<script>
export default {
  props: {
    strMealThumb: {
      type: String,
    },
  },
};
</script>

<style scoped>
.image {
  width: 400px;
}
</style>
