<template>
  <div class="d-flex justify-content-center">
    <div>
      <h1 class="text-center text-primary">{{ mealName }}
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    mealName: {
      type: String,
    },
  },
};
</script>
