<template>
  <div class="container col-10">
    <div class="d-flex jusitfy-content-center">
      <Title></Title>
    </div>
    <div class="d-flex jusitfy-content-center">
      <SearchBoxBar @searchMeal="searchMeal"></SearchBoxBar>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="d-inline">
        <div class="meal-card px-5 mb-5" v-for="item in meals" :key="item.idMeal" @click="showMeal(item.idMeal)">
          <MealImage :str-meal-thumb="item.strMealThumb" />
          <MealName :meal-name="item.strMeal" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title/Title.vue';
import SearchBoxBar from '@/components/SearchBox/SearchBoxBar.vue';
import MealImage from '@/components/Card/MealImage.vue';
import MealName from '@/components/Card/MealName.vue';

export default {
  props: {
    id: {
      type: Number,
    },
  },
  components: {
    Title,
    SearchBoxBar,
    MealImage,
    MealName,
  },
  data() {
    return {
      meals: [],
      clickTrue: false,
    };
  },
  methods: {
    searchMeal(data) {
      this.meals = data;
    },
    showMeal(id) {
      this.id = id;
      this.clickTrue = !this.clickTrue;
      this.$router.push(`/meal/${this.id}`);
      this.$emit('sendId', id);
    },
  },
};
</script>

<style scoped>
.meal-card {
  cursor: pointer;
}
</style>
