<template>
  <div class="mt-5 d-flex justify-content-center">
    <div>
      <MealName :meal-name="meal.strMeal" />
      <div class="img-div d-flex justify-content-center">
        <MealImage class="image" :str-meal-thumb="meal.strMealThumb" />
      </div>
    </div>
    <div class="w-50 d-flex justify-content-center border rounded mx-5">
      <div class="px-4 mt-3 py-4">
        <ul class="list-group list-group-numbered text-center">
          <h4 class="text-primary">Ingredient</h4>
          <li class="d-inline text-center">
            <div v-for="ingredient in ingredients" :key="ingredient.id">
              <MealIngredient :meal-ing="ingredient.name" />
              <MealIngredientMeasure :meal-mes="ingredient.measure" />
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-4 mb-4">
        <MealInstructions :meal-ins="meal.strInstructions" />
        <MealYoutube :meal-link="meal.strYoutube" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import MealName from '@/components/Card/MealName.vue';
import MealImage from '@/components/Card/MealImage.vue';
import MealIngredient from '@/components/Card/MealDetail/MealIngredient.vue';
import MealInstructions from '@/components/Card/MealDetail/MealInstructions.vue';
import MealYoutube from '@/components/Card/MealDetail/MealYoutube.vue';
import MealIngredientMeasure from '@/components/Card/MealDetail/MealIngredientMeasure.vue';

export default {
  props: {
    id: {
      type: String,
    },
    mealIns: {
      type: String,
    },
    mealLink: {
      type: String,
    },
    mealMes: {
      type: String,
    },
    mealIng: {
      type: String,
    },
    mealName: {
      type: String,
    },
    strMealThumb: {
      type: String,
    },
  },
  data() {
    return {
      meal: {},
      ingredientsLength: {},
      ingredients: [],
    };
  },
  components: {
    MealIngredient,
    MealInstructions,
    MealYoutube,
    MealIngredientMeasure,
    MealName,
    MealImage,
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      axios.get(`https://www.themealdb.com/api/json/v1/1/lookup.php?i=${this.id}`)
        .then((response) => {
          this.meal = response.data.meals;
          const data = response.data;
          this.meal = data.meals[0];
          for (const key in this.meal) {
            if (key.includes('strIngredient')) {
              this.ingredients.push(this.meal[key]);
            }
          }
          for (let index = 0; index < this.ingredients.length; index++) {
            const num = index + 1;
            const ingredientName = this.meal[`strIngredient${num}`];
            const amount = this.meal[`strMeasure${num}`];
            if (ingredientName) {
              const item = {
                id: num,
                name: ingredientName,
                measure: amount,
              };
              this.ingredients.push(item);
            }
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>

<style scoped>
.img-div {
  margin-top: 20px;
}

.image {
  width: 400px;
}
</style>
