<template>
  <div class="px-5 mt-3">
    <h4 class="text-primary">Instructions</h4>
      <p>
        {{ mealIns }}
      </p>
  </div>
</template>

<script>
export default {
  props: {
    mealIns: {
      type: String,
    },
  },
};
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
