<template>
    <div class="px-5 mt-3">
        <h4 class="text-primary">Link for the Meal :</h4>
        <a target="_blank" :href="mealLink">{{ mealLink }}</a>
    </div>
</template>

<script>
export default {
  props: {
    mealLink: {
      type: String,
    },
  },
};
</script>
