<template>
  <keep-alive>
    <div id="app">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link">
                  <router-link to="/">Home Page</router-link>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="mb-3">
        <router-view></router-view>
      </div>
      <div class="d-flex justify-content-center">
      </div>
    </div>
  </keep-alive>
</template>
